body {
  font-family:'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* -webkit-font-smoothing: antialiase */
  /* -moz-osx-font-smoothing: grayscale; */
  background-color: #f5f5f5;
  color:#222;
  line-height: 1.6;
  padding: 0;
  transition: background 0.3s;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}